#app {
	height: 100%;
}
#main{
}
.minHeight30{
	min-height: 30rem;
}

.overlay{
	background-color: rgba(0, 0, 0, 0.45)
}

.drawer-toggle:before{
	font-size: 2rem;
}
[type="checkbox"].drawer + * .drawer-close:before{
	font-size: 1.5rem;
}
nav.side{
	border: none;
}
nav.side .sublink-2:before,
nav.side .sublink-1:before{
	border: none;
}
