html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

#header {
  background-color: #de1d4d;
}

.off-canvas .off-canvas-sidebar {
  min-width: 14rem;
  background: #fff;
}
.off-canvas .off-canvas-content {
  padding: 0;
}

.off-canvas .off-canvas-toggle {
  left: 0.1rem;
  top: 0.1rem;
}

.menu {
  box-shadow: none;
}
